.DS_Store
churn.log
__pycache__/*
config/.ipynb_checkpoints/*
classifier.log
**/logs/logfile.log
*.pyc
**/output/*
train_output.json
appmap.yml
*.ipynb
pysnowpark/*
data/*
testenv/*
python_packages/*
**/migrations/*
**/logs/*
dataflow.png
*.log
testenv2/
tmp/
*.log
**/output/*
.vscode/
.idea/
*.json
*.csv
.env