cachetools==4.2.2
hyperopt==0.2.7
joblib==1.2.0
matplotlib==3.7.1
numpy==1.22.3
pandas==1.4.3
PyYAML==6.0.1
snowflake_connector_python==3.0.1
snowflake-snowpark-python[pandas]==0.10.0
scikit_learn==1.1.1
scikit_plot==0.3.7
shap==0.39.0
xgboost==1.5.0
