include README.rst COPYING version.txt requirements.txt
recursive-include docs *.rst *.png *.ico *.txt *.yaml
graft profiles_classifier
graft profiles_classifier/src
graft profiles_classifier/src/config